name: Ruff

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  ruff:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: '.python-version'

      - name: Install ruff
        run: pip install ruff

      - name: Run ruff check
        run: ruff check scripts/

      - name: Run ruff format check
        run: ruff format --check scripts/
