name: Shellcheck

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  # Run monthly on the 1st day at 00:00 UTC
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  shellcheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: './scripts'
          severity: warning
